/* * {
    margin: center;
    outline: solid white 1px;
} */

.mainPage {
    height: 600px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


/*-------left side -----*/

.trailer-images {
    border: 1px solid black;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.trailer {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.bigImage {
    width: 96%;
    height: 95%;
}

.images {
    height: 102px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    border: 1px solid black
}

.imagesDiv {
    width: 100px;
    text-decoration: none;
}

.imagesDiv li {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
}

.screenshotImg {
    text-decoration: none;
    width: 100%;
    height: 100px;
}


/*-------right side -----*/

.infoCenter {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.poster {
    width: 100%;
    height: 200px
}

.gameInfo {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    font-size: 20px;
    border: 1px solid black;
}

.platform,
.store {
    width: 100%;
}

.gameInfo p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.platformSize,
.storeSize {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
}

.gameInfo li,
.gameInfo div span a {
    margin-left: 10px;
}


/*-------bottom page-----*/

.bottomPage {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.description {
    margin-top: 0px;
    width: 1000px;
    height: auto;
    font-size: 20px;
    border: 1px solid black;
}

.reviews {
    margin-top: 25px;
    width: 400px;
    height: auto;
    text-decoration: none;
    border: 1px solid black
}

.rating {
    width: 100%;
    height: auto;
    text-decoration: none;
}

.ratingSize ul {
    text-decoration: none;
    width: 150px;
    margin-right: 10px;
}

.ratingSize ul span {
    text-decoration: none;
    width: 100%;
    margin-right: 10px;
}

.ptag {
    text-align: center;
}

.ulSpan {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid orangered;
    justify-content: flex-start;
}

.rating {
    width: 100%;
    height: auto;
    text-decoration: none;
}

.OLLI {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    text-decoration-style: none;
}

.ratingSize ol {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.ratingSize ol li {
    text-decoration: none;
    width: 150px;
    margin-right: 28px;
}